<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to the Virtual Store Web</title>
        <link rel="stylesheet" th:href="@{/css/front_page.css}" />
        <link rel="stylesheet" th:href="@{/css/category_view.css}" />
    </head>
    <body>
        <header>
            <div class="searchContainer">
                <button class="searchButtons">Sign In</button>
                <button class="searchButtons">Cart</button>
                <input class="searchBar" type="text"></input><button class="search">Search</button>
            </div>
            <img class="img-seneca-Logo" th:src="@{/img/SenecaLogo.jpg}" alt="Logo for the Seneca Foundation Store"></img>
        </header>
        <main>
            <ul class="stores"> 
                    <li th:each="tshirt : ${tshirts}">
                        <a th:href="'/tshirt/product/' + ${tshirt.ID}">
                            <img th:data-id="${tshirt.ID}" th:src="@{${'/images/' + tshirt.ID + '.png'}}" alt="bracelet"></img>
                            <div th:text="${tshirt.name}"></div>
                            <div class="storeItemPriceImg">
                                <span th:text="'$' + ${tshirt.price}"></span>
                                <span>&#9825;</span>
                            </div>
                        </a>
                    </li>
            </ul>
        </main>
        <hr class="rounded">
        <footer>
            <section class="contact">
                <nav class="contact-left">
                    <h5>Company</h5>
                    <ul>
                        <li><a>About Us</a></li>
                        <li><a>Product Delivery</a></li>
                        <li><a>Delivery Policy</a></li>
                    </ul>
                </nav>
                <nav class="contact-middle">
                    <h5>Account</h5>
                    <ul>
                        <li><a>Manage Account</a></li>
                        <li><a>Order History</a></li>
                        <li><a>Track Your Order</a></li>
                    </ul>
                </nav>
                <nav class="contact-right">
                    <h5>Help</h5>
                    <ul>
                        <li><a>Fequenly Asked Questions</a></li>
                        <li><a>Customer Service</a></li>
                        <li><a>File A Complaint</a></li>
                    </ul>
                </nav>
            </section>
            <section class="contact">
                <nav class="contact-left">
                    <h6>Subscribe for email offers</h6>
                    <input type="email"></input>
                    <button></button>
                </nav>
                <nav class="contact-middle">
                    <h6>Contact Us</h6>
                    <ul>
                        <li>jnava@upliftfoundation.org</li>
                        <li>(312)363-9496</li>
                    </ul>
                </nav>
                <nav class="contact-right">
                    <h6>Follow Us</h6>
                    <ul>
                        <li>
                            <img></img>
                            webstoreofficial
                        </li>
                        <li>
                            <img></img>
                            webstoreofficial
                        </li>
                        <li>
                            <img></img>
                            webstoreofficial
                        </li>
                    </ul>
                </nav>
            </section>
        </footer>
    </body>
</html>